/* Общие сбросы */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Шапка */
.main-header {
    background-color: #222;
    padding: 20px 0;
}

/* Навигация */
.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style: none;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list li a:hover {
    background-color: #444;
    color: #ffcc00;
    border-radius: 4px;
}
.admin-status {
    display: inline-block;
    background-color: #444;
    color: #ffcc00;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: default;
}

    .admin-status:hover {
        background-color: #555;
        color: #ffd633;
    }

/* Основной контент */
.main-content {
    min-width: 960px;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 8px;
}

/* Футер */
.main-footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    font-size: 0.9rem;
    color: #666;
    margin-top: 40px;
}

@media screen and (max-width: 900px) {
    body {
        display: none;
    }

    html::before {
        content: "Сайт пока что под десктоп идет";
        display: block;
        text-align: center;
        padding: 100px 20px;
        font-size: 1.5rem;
        color: #333;
        background-color: #f4f4f4;
    }
}

